### Windows ###############################################

# Windows 이미지 파일 캐시
Thumbs.db
ehthumbs.db

# 폴더 설정 파일
Desktop.ini

# 파일 공유에 사용된 휴지통에 버린 것
$RECYCLE.BIN/

# Windows 설치 파일
*.cab
*.msi
*.msm
*.msp

# Windows 단축키
*.lnk


### OSX ####################################################

# 시스템 파일
.DS_Store
.AppleDouble
.LSOverride

# 아이콘
Icon



# 썸네일
._*

# 외부 디스크 파일
.Spotlight-V100
.Trashes

# 잠재적인 원격 AFP 공유에 만들어진 디렉토리
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### SASS ##################################################

# SASS 캐시 파일 & Sourcemap
.sass-cache
*.css.map


### Node ##################################################

# 로그
logs
*.log

# 실시간 데이터
pids
*.pid
*.seed

# jscoverage/JSCover에 의해 생성된 계측 라이브러리 디렉토리
lib-cov

# 커버리지 디렉토리
coverage

# Grunt 중간 저장 파일
.grunt

# 컴파일 된 바이너리 애드온
build/Release

# 의존성 관리 디렉토리
node_modules

# 사용자 환경 변수
.lock-wscript